<div *ngIf="!detail">
    <div class="field col-12 md:col-6">
        <p>USUARIOS</p>
    </div>
    
    <p-divider></p-divider>
    
    <div *ngIf="users">
        <p-table
            [value]="users"
            [paginator]="true"
            [rows]="5"
            selectionMode="single"
            [(selection)]="user"
            (onRowSelect)="irDetalle(true, user)">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:25%">Nombre</th>
                    <!--<th style="width:25%">Detail</th>-->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr [pSelectableRow]="user">
                    <td>{{ user.name }}</td>
                    <!--<td><p-button (onClick)="irDetalle(true, user)" label="Ir al detalle"></p-button></td>-->
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>
    </div>
</div>
<div *ngIf="detail">
    <app-detalle-usuario [user]="user"></app-detalle-usuario>
    <p-button (onClick)="irDetalle(false, null)" label="Regresar"></p-button>
</div>