<div *ngIf="!detail">
    <div *ngIf="users">
        <p-dataView #dv [value]="users" [rows]="5" [paginator]="true">
            <ng-template let-users pTemplate="list">
                <div class="grid">
                    <div class="col-12" *ngFor="let item of users; let first = first">
                        <div class="flex">
                            <div class="col-12">
                                <div class="col-5">
                                    <div class="text-2xl font-bold text-900">{{ item.name }}</div>
                                </div>
                                <div class="col-3">
                                    <p-button (onClick)="irDetalle(true, item)" label="Ir al detalle"></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>
<div *ngIf="detail">
    <app-detalle-usuario [user]="user"></app-detalle-usuario>
    <p-button (onClick)="irDetalle(false, null)" label="return"></p-button>

</div>