<p>DETALLE</p>
<p-divider></p-divider>
<div class="formgrid grid">
    <div class="field col-12 md:col-6">
        <label for="firstname6">Name:</label>
        {{user.name}}
    </div>
    <div class="field col-12 md:col-6">
        <label for="firstname6">User name:</label>
        {{user.username}}
    </div>
    <div class="field col-12 md:col-6">
        <label for="firstname6">Phone:</label>
        {{user.phone}}
    </div>
    <div class="field col-12 md:col-6">
        <label for="firstname6">Email:</label>
        {{user.email}}
    </div>
    <div class="field col-12 md:col-6">
        <label for="firstname6">Website:</label>
        {{user.website}}
    </div>
</div>

