<div style="margin: 100px;">
    <div style="text-align: center; padding:3px; background-color: #f0f0f0;">
        <h1 style="font-size: 24px; color: #333;">DETALLE</h1>
    </div>
    <p-divider></p-divider>
    <div class="formgrid grid">
        <div class="flex flex-column gap-2" style="margin: 5px;">
            <label for="username">Name: </label>
            <input pInputText id="name" [(ngModel)]="user.name" [disabled]="true"/>
        </div>
        <div class="flex flex-column gap-2" style="margin: 5px;">
            <label for="username">Username: </label>
            <input pInputText id="name" [(ngModel)]="user.username" [disabled]="true"/>
        </div>
        <div class="flex flex-column gap-2" style="margin: 5px;">
            <label for="username">Phone: </label>
            <input pInputText id="name" [(ngModel)]="user.phone" [disabled]="true"/>
        </div>
        <div class="flex flex-column gap-2" style="margin: 5px;">
            <label for="username">Email: </label>
            <input pInputText id="name" [(ngModel)]="user.email" [disabled]="true"/>
        </div>
        <div class="flex flex-column gap-2" style="margin: 5px;">
            <label for="username">Website: </label>
            <input pInputText id="name" [(ngModel)]="user.website" [disabled]="true"/>
        </div>
    </div>
    <div style="text-align: center; padding:3px;">
        <p-button (onClick)="regresar()" label="Regresar"></p-button>
    </div>
</div>

